# Created by https://www.gitignore.io/api/kirby2,powershell,visualstudiocode,composer
# Edit at https://www.gitignore.io/?templates=kirby2,powershell,visualstudiocode,composer

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Kirby2 ###
## Kirby 2 | http://getkirby.com

# Exclude account information
site/accounts/*
!site/accounts/index.html
assets/avatars/*
!assets/avatars/.gitkeep

# Exclude thumbnails
thumbs/*
!thumbs/index.html

# Exclude cache
site/cache/*
!site/cache/index.html

#exclude license files
/site/config/.license

#additional excludes
/media/
/site/accounts
/site/sessions
/site/logs/
/kirby/


### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/kirby2,powershell,visualstudiocode,composer

#Exclude Archives
*.7z

#Exclude 3rdParty sources
assets/vendors/*
site/plugins/
node_modules/
sync.ffs_db
sync.ffs_lock
*.ffs_gui

#still needed
!assets/vendors/favicon_package_v0.16/
!site/plugins/custom-tags/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode