@media (min-width: 992px) {
  
   body {
    padding-top: 58px;
   }
     
    nav.fixed-top{
      position: fixed;
    }
  
    footer.fixed-bottom{
      position: fixed;
    }
  
    div#logo {
      position: fixed;
        top: 15px;
        left: 15%;
        background-color: white;
        padding: 0px 10px;
    }
    
    #logo img{
      width: 150px;
    }

    #logo > div{
      padding-top: 35px;
    }

    div.sticky{
      position: relative !important;
      top: 0px !important;
      left: 0px !important;
      padding: 0 !important;
    }

    .sticky img{
      width: 75px !important;
    }

    .sticky > div {
      font-size: 13px;
      padding-top: 0px !important;
    }

    .sticky p {
      margin-bottom: 0px;
    }

    .floatablegroup {
      padding: 5px;
      float:left
    }
  
      .dropdown-menu-large {
        width: 950px !important;
      }
  }
  