@media (min-width: 992px) {  
  
  body {
    padding-top: 58px;
  }

  nav.fixed-top{
    position: fixed;
  }

  nav .dropdown-toggle::after {
    content: none;
  }

  /* a.nav-link:hover,
  a.nav-link:active {
    border-bottom-color: var(--gcvcolor) !important;
    border-bottom-width: 2px !important;
  } */

  footer.fixed-bottom{
  position: fixed;
  }

  div#logo {
  position: fixed;
    top: 15px;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.950);
    padding: 0 10px;
  }

  #logo img{
  width: 150px;
  transition: width 1s;
  }

  #logo > div{
  padding-top: 5px;
  -webkit-transition: font-size 1s, padding-top 1s;
  -moz-transition: font-size 1s, padding-top 1s;
  -ms-transition: font-size 1s, padding-top 1s;
  -o-transition: font-size 1s, padding-top 1s;
  transition: font-size 1s, padding-top 1s;
}

  .sticky img{
  width: 65px !important;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -ms-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

  .sticky > div {
  font-size: 10px;
  padding-top: 0 !important;
  transition: font-size 1s, padding-top 1s;
  -webkit-transition: font-size 1s, padding-top 1s;
  -moz-transition: font-size 1s, padding-top 1s;
  -ms-transition: font-size 1s, padding-top 1s;
  -o-transition: font-size 1s, padding-top 1s;
}

  .sticky p {
  margin-bottom: 0;
}

  #AkteureGruppen {
  transform:translate(-65%,0)
  }

  .floatablegroup {
  padding: 5px;
  float:left
  }

  .dropdown-menu-large {
    width: 950px !important;
  }
}

/*--------------------------------*/
/*------ Mobile Devices ----------*/
/*--------------------------------*/

@media (max-width: 991px){
  nav.fixed-top{
      position: relative;
  }
  
  #logo img{
    width: 75px;
  }
  
  #logo > div{
    font-size: 11px;
    padding-top: 0;
  }
      
  h1 {
      font-size: 1.5rem;
  }
  
  h2,h3,h4 {
      font-size: 1rem;
      font-weight: bold;
  }

  .carousel-item {
      height: 33vh;
  }

  #modalTickets h5,li, 
  #modalAppointments h5,li {
    font-size: 85%;
  }

  #modalTickets button,
  #modalAppointments button {
    font-size: 75%;
  }
}
  